In [3]:
import pandas as pd
import numpy as np
from __future__ import division

In [17]:
raw_data = pd.read_csv('population_2010_accurate.csv',index_col=0)
raw_data.head()

,2010 Census Tract,Total Population 21 Years and Under,Under 1 Year,1 & 2 Years,3 & 4 Years,5 Years,6 Years,7 to 9 Years,10 & 11 Years,12 & 13 Years,14 Years,15 Years,16 Years,17 Years,18 Years,19 Years,20 Years,21 Years
Brooklyn,100,586,49,95,67,35,31,80,50,40,10,25,12,28,11,19,19,15
Brooklyn,200,589,27,56,66,36,32,57,49,33,17,25,26,31,22,35,38,39
Brooklyn,301,685,68,116,112,36,31,97,42,38,16,21,19,23,17,11,20,18
Brooklyn,501,"1,267",49,69,64,29,24,56,29,22,15,8,18,12,174,306,270,122
Brooklyn,502,292,34,40,36,15,14,35,14,25,10,8,7,16,8,10,12,8

In [18]:
raw_data['2010 Census Tract'] = raw_data['2010 Census Tract']/100

In [19]:
raw_data.to_csv('population_2010_accurate.csv')

In [2]:
cd 11-15

/Users/raochuanfan/Documents/from_Github/1001_project/11-15

In [14]:
test = pd.read_csv('164.xlsx', sep=' ')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 45, saw 2

In [11]:
test

    2000 to 2010 Demographic Change Profile,NYC Census FactFinder,,,
0                  Selected Tract(s): Brooklyn 164,,,,
1    Demographic Change,2000,2010,"Change, 2000-2010",
2                        ,Number,Number,Number,Percent
3                             RACE/HISPANIC ORIGIN,,,,
4             Total population,"1,173",764,-409,-34.9%
5                 White nonhispanic,307,239,-68,-22.1%
6    Black/African American nonhispanic,449,188,-26...
7                     Asian nonhispanic,33,47,14,42.4%
8           Some other race nonhispanic,5,17,12,240.0%
9      Nonhispanic of two or more races,15,29,14,93.3%
10                 Hispanic origin,364,244,-120,-33.0%
11                                                ,,,,
12                                     SEX AND AGE,,,,
13                          Female,575,374,-201,-35.0%
14                            Male,598,390,-208,-34.8%
15                                                ,,,,
16                    Under 5 years,135,115,-20,-14.8%
17                      5 to 9 years,141,91,-50,-35.5%
18                    10 to 14 years,120,61,-59,-49.2%
19                     15 to 19 years,61,46,-15,-24.6%
20                     20 to 24 years,70,37,-33,-47.1%
21                   25 to 29 years,124,102,-22,-17.7%
22                    30 to 34 years,160,72,-88,-55.0%
23                    35 to 39 years,171,78,-93,-54.4%
24                     40 to 44 years,93,60,-33,-35.5%
25                     45 to 49 years,53,36,-17,-32.1%
26                       50 to 54 years,24,23,-1,-4.2%
27                       55 to 59 years,8,19,11,137.5%
28                          60 to 64 years,5,9,4,80.0%
29                         65 to 69 years,1,8,7,700.0%
..                                                 ...
173    Total occupied housing units,324,229,-95,-29.3%
174                     15 to 24 years,15,4,-11,-73.3%
175                   25 to 34 years,127,86,-41,-32.3%
176                   35 to 44 years,137,81,-56,-40.9%
177                      45 to 54 years,38,35,-3,-7.9%
178                      55 to 64 years,6,17,11,183.3%
179                        65 to 74 years,1,4,3,300.0%
180                           75 years and over,0,2,2,
181                           85 years and over,0,1,1,
182   Renter-occupied housing units,320,224,-96,-30.0%
183                     15 to 24 years,15,4,-11,-73.3%
184                   25 to 34 years,125,84,-41,-32.8%
185                   35 to 44 years,136,80,-56,-41.2%
186                      45 to 54 years,38,35,-3,-7.9%
187                       55 to 64 years,6,15,9,150.0%
188                              65 to 74 years,0,4,4,
189                           75 years and over,0,2,2,
190                           85 years and over,0,1,1,
191                                               ,,,,
192                                 HOUSEHOLD SIZE,,,,
193    Total occupied housing units,324,229,-95,-29.3%
194                    1-person household,29,31,2,6.9%
195                2-person household,75,48,-27,-36.0%
196                3-person household,68,49,-19,-27.9%
197                4-person household,92,51,-41,-44.6%
198                 5-person household,41,34,-7,-17.1%
199                 6-person household,16,10,-6,-37.5%
200            7-or-more person household,3,6,3,100.0%
201                                               ,,,,
202  Sources: US Census Bureau, 2000 and 2010 Censu...

[203 rows x 1 columns]