In [6]:
import pandas as pd
import numpy as np
from __future__ import division

In [17]:
raw_data = pd.read_csv('population_2010_accurate.csv',index_col=0)
raw_data.head()

,2010 Census Tract,Total Population 21 Years and Under,Under 1 Year,1 & 2 Years,3 & 4 Years,5 Years,6 Years,7 to 9 Years,10 & 11 Years,12 & 13 Years,14 Years,15 Years,16 Years,17 Years,18 Years,19 Years,20 Years,21 Years
Brooklyn,100,586,49,95,67,35,31,80,50,40,10,25,12,28,11,19,19,15
Brooklyn,200,589,27,56,66,36,32,57,49,33,17,25,26,31,22,35,38,39
Brooklyn,301,685,68,116,112,36,31,97,42,38,16,21,19,23,17,11,20,18
Brooklyn,501,"1,267",49,69,64,29,24,56,29,22,15,8,18,12,174,306,270,122
Brooklyn,502,292,34,40,36,15,14,35,14,25,10,8,7,16,8,10,12,8

In [18]:
raw_data['2010 Census Tract'] = raw_data['2010 Census Tract']/100

In [19]:
raw_data.to_csv('population_2010_accurate.csv')