In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
raw_data = pd.read_csv("../Raochuan/Kth_09_10.csv")
raw_data.head()

,index,School Year,Grade Level,Count of Students,total,White,Black/ African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,...,10 & 11 Years,12 & 13 Years,14 Years,15 Years,16 Years,17 Years,18 Years,19 Years,20 Years,21 Years
0,18.0,20092010,K,0.0,3.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,4.0,13.0,20.0,38.0
1,20.0,20092010,K,6.0,476.0,10.0,6.0,3.0,20.0,0.0,...,53.0,42.0,25.0,22.0,27.0,26.0,45.0,31.0,28.0,34.0
2,22.0,20092010,K,53.0,982.0,68.0,29.0,4.0,81.0,0.0,...,83.0,88.0,45.0,54.0,60.0,68.0,58.0,66.0,54.0,77.0
3,30.0,20092010,K,11.0,362.0,194.0,9.0,0.0,47.0,0.0,...,42.0,36.0,20.0,18.0,24.0,21.0,15.0,19.0,20.0,23.0
4,34.0,20092010,K,25.0,547.0,306.0,0.0,0.0,102.0,0.0,...,61.0,48.0,23.0,23.0,33.0,20.0,29.0,25.0,28.0,35.0

In [2]:
data = raw_data[['index','Count of Students']]
data['Wht%'] = raw_data['White'] / raw_data['total']
data['Blc%'] = raw_data.iloc[:,6] / raw_data['total']
data['Ind%'] = raw_data.iloc[:,7] / raw_data['total']
data['Asn%'] = raw_data.iloc[:,8] / raw_data['total']
data['Mix%'] = raw_data.iloc[:,11] / raw_data['total']
data['His%'] = raw_data.iloc[:,12] / raw_data['total']
data['Age3to4'] = raw_data.iloc[:,16] / raw_data.iloc[:,13]
data['Age5'] = raw_data.iloc[:,17] / raw_data.iloc[:,13]
data['Age6'] = raw_data.iloc[:,18] / raw_data.iloc[:,13]
data['Age7to9'] = raw_data.iloc[:,19] / raw_data.iloc[:,13]
data.head()

,index,Count of Students,Wht%,Blc%,Ind%,Asn%,Mix%,His%,Age3to4,Age5,Age6,Age7to9
0,18.0,0.0,0.000000,0.333333,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000
1,20.0,6.0,0.021008,0.012605,0.006303,0.042017,0.006303,0.909664,0.081433,0.043974,0.048860,0.138436
2,22.0,53.0,0.069246,0.029532,0.004073,0.082485,0.020367,0.787169,0.095392,0.050121,0.040420,0.130154
3,30.0,11.0,0.535912,0.024862,0.000000,0.129834,0.082873,0.226519,0.102506,0.045558,0.031891,0.134396
4,34.0,25.0,0.559415,0.000000,0.000000,0.186472,0.047532,0.206581,0.094880,0.052711,0.043675,0.146084

In [3]:
import sklearn.linear_model
msk = np.random.rand(len(data)) < 0.7
X_train = data[msk].drop('Count of Students',1)
y_train = data[msk]['Count of Students']
X_test = data[~msk].drop('Count of Students',1)
y_test = data[~msk]['Count of Students']

In [4]:
def mean_rela_abs_error(ser_true, ser_pred):
    return np.median(np.abs((ser_pred-ser_true)/ser_true))

In [37]:
#Simple linear model outperforms any lasso regression regardless of the alpha coefficient based on R-square and MRAE
lModel = sklearn.linear_model.LinearRegression()
lModel.fit(X_train, y_train)
train_pred = lModel.predict(X_train)
vali_pred = lModel.predict(X_test)
train_MRAE = mean_rela_abs_error(y_train, train_pred)
vali_MRAE = mean_rela_abs_error(y_test, vali_pred)

In [38]:
# R-square of linear model
lModel.score(X_train, y_train)

0.32584620579823975

In [34]:
[train_MRAE, vali_MRAE]

[0.66722057757716269, 0.52591631945613992]

In [45]:
import sklearn.neural_network
nnModel = sklearn.neural_network.MLPRegressor(alpha=0.1)
nnModel.fit(X_train, y_train)
train_pred = nnModel.predict(X_train)
vali_pred = nnModel.predict(X_test)
train_MRAE = mean_rela_abs_error(y_train, train_pred)
vali_MRAE = mean_rela_abs_error(y_test, vali_pred)

In [46]:
nnModel.score(X_train, y_train)

-0.69612659689499257

In [47]:
[train_MRAE, vali_MRAE]

[0.8679236212695558, 0.89766164053858688]