In [60]:
import pandas as pd

population_00 = pd.read_csv("../Raochuan/nyc_tract_2000.csv")
population_00.drop('Total Population',1,inplace = True)
population_00.drop('Median Age',1,inplace = True)
population_00.columns.values[1] = '2010 Census Tract'
population_00.head()
population_01 = pd.read_csv("../Haichao/2001_predict_backward.csv")
population_02 = pd.read_csv("../Haichao/2002_predict_backward.csv")
population_03 = pd.read_csv("../Haichao/2003_predict_backward.csv")
population_04 = pd.read_csv("../Haichao/2004_predict_backward.csv")
population_05 = pd.read_csv("../Haichao/2005_predict_backward.csv")
population_06 = pd.read_csv("../Haichao/2006_predict_backward.csv")
population_07 = pd.read_csv("../Haichao/2007_predict_backward.csv")
population_08 = pd.read_csv("../Haichao/2008_predict_backward.csv")
population_09 = pd.read_csv("../Haichao/2009_predict_backward.csv",names = population_08.columns.values[2:])
population_09.insert(0,'Borough',population_08['Borough'])
population_09.insert(1,'2010 Census Tract',population_08['2010 Census Tract'])
population_10 = pd.read_csv("nyc_tract_2010.csv")
population_10.drop('Total Population',1,inplace = True)
population_10.drop('Median Age',1,inplace = True)

In [77]:
def filter_brooklyn_20(yearly_data):
    yearly_data = yearly_data.ix[yearly_data['Borough'] == 'Brooklyn']
    yearly_data['2010 Census Tract'] = [x / 100 for x in yearly_data['2010 Census Tract']]
    raw_data = pd.read_csv("../Raochuan/Kth_09_10.csv")
    ct_index = raw_data['index']
    yearly_data = yearly_data.ix[yearly_data['2010 Census Tract'].isin(ct_index)]
    yearly_data = yearly_data[['2010 Census Tract', 'Under 5 Years', '5-9      Years', '10-14 Years']]
    return yearly_data

In [ ]:
data_2001 = filter_brooklyn_20(population_01)
data_2002 = filter_brooklyn_20(population_02)
data_2003 = filter_brooklyn_20(population_03)
data_2004 = filter_brooklyn_20(population_04)
data_2005 = filter_brooklyn_20(population_05)
data_2006 = filter_brooklyn_20(population_06)
data_2007 = filter_brooklyn_20(population_07)
data_2008 = filter_brooklyn_20(population_08)
data_2009 = filter_brooklyn_20(population_09)
data_2010 = filter_brooklyn_20(population_10)

In [78]:
raw_data = pd.read_csv("../Raochuan/Kth_09_10.csv")
data = raw_data[['index']]
data['Wht%'] = raw_data['White'] / raw_data['total']
data['Blc%'] = raw_data.iloc[:,6] / raw_data['total']
data['Ind%'] = raw_data.iloc[:,7] / raw_data['total']
data['Asn%'] = raw_data.iloc[:,8] / raw_data['total']
data['Mix%'] = raw_data.iloc[:,11] / raw_data['total']
data['His%'] = raw_data.iloc[:,12] / raw_data['total']
data = filter_brooklyn_20(population_09)
data

/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      2010 Census Tract  Under 5 Years  5-9      Years  10-14 Years
349               18.00            2.0             0.0          1.0
350               20.00          155.0           157.0        122.0
352               22.00          349.0           305.0        220.0
355               30.00          121.0           103.0        100.0
358               34.00          200.0           178.0        134.0
360               36.00          265.0           173.0        132.0
362               38.00           93.0            58.0         58.0
366               44.00           96.0           139.0        144.0
368               46.00           71.0            95.0         79.0
371               50.00          142.0           136.0        109.0
372               51.00          195.0           113.0         65.0
373               52.01           85.0            54.0         45.0
374               52.02          147.0            75.0         52.0
376               54.00          173.0           128.0         94.0
377               56.01          129.0            77.0         62.0
378               56.02           90.0            60.0         40.0
379               58.00          183.0           153.0        121.0
381               60.00          271.0           182.0        133.0
382               62.00          179.0           181.0        159.0
384               64.00          244.0           225.0        209.0
386               66.00          251.0           207.0        180.0
388               68.00          375.0           370.0        314.0
390               70.00          145.0           115.0        121.0
392               72.00          158.0           133.0        131.0
393               74.00          454.0           437.0        362.0
394               75.00          332.0           222.0        151.0
395               76.00          376.0           304.0        250.0
397               78.00          426.0           379.0        337.0
398               80.00          340.0           323.0        285.0
399               82.00          343.0           286.0        262.0
...                 ...            ...             ...          ...
699              421.00          316.0           316.0        274.0
706              428.00          232.0           215.0        191.0
708              430.00          193.0           155.0        158.0
710              432.00          287.0           266.0        191.0
712              434.00          159.0           182.0        176.0
714              436.00          260.0           239.0        220.0
735              462.01          242.0           233.0        158.0
737              464.00          421.0           412.0        366.0
738              468.00          357.0           359.0        235.0
739              470.00          398.0           374.0        317.0
740              472.00          504.0           453.0        360.0
741              474.00          449.0           382.0        296.0
742              476.00          516.0           446.0        401.0
744              478.00          631.0           591.0        526.0
745              480.00          456.0           448.0        349.0
748              484.00          551.0           601.0        534.0
750              486.00          342.0           370.0        297.0
751              488.00          361.0           376.0        333.0
752              489.00          341.0           322.0        346.0
753              490.00          465.0           427.0        377.0
755              492.00          283.0           255.0        236.0
757              494.00          346.0           341.0        279.0
773              508.04          534.0           427.0        388.0
782              516.01          488.0           419.0        443.0
855              610.02          269.0           192.0        179.0
892              696.02          374.0           439.0        423.0
902              726.00          125.0           118.0        122.0
988              902.00          313.0           301.0        321.0
989              906.00          431.0           500.0        474.0
1061            1144.00          265.0           226.0        229.0

[157 rows x 4 columns]

In [80]:

ct_index = raw_data['index']
population_00 = population_00.ix[population_00['Borough'] == 'Brooklyn']
population_00
ct_index[ct_index % 1 != 0]=ct_index*100
ct_index = pd.DataFrame(data = ct_index)

data_2000 = pd.merge(ct_index,population_00,left_on='index',right_on='2010 Census Tract',how='left')
data_2000 = data_2000[['index', 'Under 5 Years', '5-9      Years', '10-14 Years']]
data_2000.columns = ['2010 Census Tract', 'Under 5 Years', '5-9      Years', '10-14 Years']
data_2000.fillna(0)
data_2000
for i in range(len(df['index'])):
    if (df.iloc[i]['index'] > 906):
        df.set_value(df.index.values[i],'index', df.iloc[i]['index']*0.01)


#population_00 = population_00.ix[population_00['2010 Census Tract'].isin(ct_index)]
#population_00
# = population_10.ix[population_10['2010 Census Tract'].isin(ct_index)]

/Users/lin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     2010 Census Tract Under 5 Years 5-9      Years 10-14 Years
0                 18.0             5              1           0
1                 20.0           142            137         108
2                 22.0           307            298         273
3                 30.0           130            116         102
4                 34.0           167            137         123
5                 36.0           186            163         181
6                 38.0            85             76          81
7                 44.0           NaN            NaN         NaN
8                 46.0            65             86          92
9                 50.0           133             91         110
10                51.0           113             95          83
11              5201.0            49             55          34
12              5202.0           100             63          63
13                54.0           138            116         110
14              5601.0           126             90          53
15              5602.0            63             32          36
16                58.0           167            141         106
17                60.0           204            179         122
18                62.0           236            187         148
19                64.0           189            206         168
20                66.0           194            206         174
21                68.0           353            304         272
22                70.0           138            113         126
23                72.0           138            144         137
24                74.0           456            424         400
25                75.0           214            200         138
26                76.0           374            330         309
27                78.0           454            457         358
28                80.0           377            312         274
29                82.0           352            376         295
..                 ...           ...            ...         ...
127              421.0           368            371         305
128              428.0           172            176         164
129              430.0           158            184         185
130              432.0           221            219         202
131              434.0           182            223         235
132              436.0           187            227         243
133            46201.0           176            169         145
134              464.0           332            338         265
135              468.0           105             84          67
136              470.0           338            346         346
137              472.0           327            354         403
138              474.0           276            317         345
139              476.0           382            362         432
140              478.0           541            543         534
141              480.0           342            299         323
142              484.0           494            498         483
143              486.0           341            332         267
144              488.0           377            390         379
145              489.0           320            404         447
146              490.0           464            410         430
147              492.0           228            235         250
148              494.0           312            350         360
149            50804.0           NaN            NaN         NaN
150            51601.0           NaN            NaN         NaN
151            61002.0            84             83          76
152            69602.0           NaN            NaN         NaN
153              726.0           137            152         204
154              902.0           510            597         578
155              906.0           439            521         543
156             1144.0           NaN            NaN         NaN

[157 rows x 4 columns]