In [1]:
import pandas as pd
import numpy as np
import xlrd
import csv
import os
from __future__ import division

In [17]:
raw_data = pd.read_csv('population_2010_accurate.csv',index_col=0)
raw_data.head()

,2010 Census Tract,Total Population 21 Years and Under,Under 1 Year,1 & 2 Years,3 & 4 Years,5 Years,6 Years,7 to 9 Years,10 & 11 Years,12 & 13 Years,14 Years,15 Years,16 Years,17 Years,18 Years,19 Years,20 Years,21 Years
Brooklyn,100,586,49,95,67,35,31,80,50,40,10,25,12,28,11,19,19,15
Brooklyn,200,589,27,56,66,36,32,57,49,33,17,25,26,31,22,35,38,39
Brooklyn,301,685,68,116,112,36,31,97,42,38,16,21,19,23,17,11,20,18
Brooklyn,501,"1,267",49,69,64,29,24,56,29,22,15,8,18,12,174,306,270,122
Brooklyn,502,292,34,40,36,15,14,35,14,25,10,8,7,16,8,10,12,8

In [18]:
raw_data['2010 Census Tract'] = raw_data['2010 Census Tract']/100

In [19]:
raw_data.to_csv('population_2010_accurate.csv')

In [6]:
popu = pd.read_csv('population_2010_accurate.csv',index_col=1)
popu.drop('Unnamed: 0', 1, inplace= True)
popu.head()

,Total Population 21 Years and Under,Under 1 Year,1 & 2 Years,3 & 4 Years,5 Years,6 Years,7 to 9 Years,10 & 11 Years,12 & 13 Years,14 Years,15 Years,16 Years,17 Years,18 Years,19 Years,20 Years,21 Years
2010 Census Tract,,,,,,,,,,,,,,,,,
1.00,586,49,95,67,35,31,80,50,40,10,25,12,28,11,19,19,15
2.00,589,27,56,66,36,32,57,49,33,17,25,26,31,22,35,38,39
3.01,685,68,116,112,36,31,97,42,38,16,21,19,23,17,11,20,18
5.01,"1,267",49,69,64,29,24,56,29,22,15,8,18,12,174,306,270,122
5.02,292,34,40,36,15,14,35,14,25,10,8,7,16,8,10,12,8

In [15]:
race = pd.read_csv('race_2010.csv', index_col = 2)
race.drop(['Unnamed: 0.1', 'Unnamed: 0'], 1, inplace= True)
race.head()

,total,White,Black/ African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some Other Race,Two or More Races,Hispanic Origin (of any race)
census tract,,,,,,,,,
1.00,522,382,28,0,35,0,10,21,46
2.00,455,11,17,0,9,0,1,2,415
3.01,619,485,12,1,26,0,6,57,32
5.01,395,305,10,0,20,0,2,27,31
5.02,254,182,6,1,9,0,4,27,25

In [20]:
race.tail()

,total,White,Black/ African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some Other Race,Two or More Races,Hispanic Origin (of any race)
census tract,,,,,,,,,
1220.0,"1,802",24,"1,367",3,19,0,5,22,362
1237.0,"3,336","2,934",47,0,1,14,21,21,298
1502.0,503,288,12,0,39,0,5,23,136
1522.0,760,233,143,6,190,0,19,40,129
9901.0,0,0,0,0,0,0,0,0,0

In [18]:
targets = pd.read_csv('main.csv', index_col=0)
targets.head()

                   School Year Grade Level  Count of Students
2010 Census Tract
18                    20012002           2                  1
18                    20022003           3                  1
18                    20032004           K                  1
18                    20032004           3                  1
18                    20032004           4                  1

In [ ]:
Kth_09_10 =

In [19]:
np.unique(targets.index)

array([   18,    20,    22,    30,    34,    36,    38,    44,    46,
          50,    51,    54,    58,    60,    62,    64,    66,    68,
          70,    72,    74,    75,    76,    78,    80,    82,    90,
          94,    96,    98,   100,   102,   104,   106,   108,   110,
         114,   116,   118,   120,   122,   126,   130,   132,   134,
         136,   138,   140,   142,   148,   150,   152,   160,   162,
         164,   166,   168,   170,   172,   174,   176,   178,   180,
         182,   184,   186,   188,   190,   192,   194,   196,   198,
         200,   202,   204,   206,   207,   208,   210,   212,   214,
         216,   218,   220,   221,   222,   228,   230,   232,   234,
         236,   238,   240,   242,   244,   246,   248,   250,   252,
         254,   256,   258,   260,   262,   264,   266,   268,   270,
         272,   274,   276,   278,   280,   282,   284,   286,   288,
         290,   292,   294,   296,   298,   421,   428,   430,   432,
         434,   436,   464,   468,   470,   472,   474,   476,   478,
         480,   484,   486,   488,   489,   490,   492,   494,   726,
         902,   906,  1144,  5201,  5202,  5601,  5602, 12801, 46201,
       50804, 51601, 61002, 69602])

In [28]:
new_index = [x/100 if x > 5000 else x for x in list(targets.index)]

In [31]:
targets.index = new_index

In [34]:
targets.to_csv('main.csv')

In [33]:
targets = targets.sort_index()